body{
  text-align:center;
	font:15px/1.5 Arial, Helvetica,sans-serif;
  color:#000000;
	padding: 0px;
	background-color:#000000;
  background-image:url(spam.png);
  background-size:130%;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
  text-align:center;
	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}


header h2{
	text-align:center;
	color:#000000;
  text-underline-position:under;

}



.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #0b7dda;}


.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

#brandname
{
  margin:auto;
  text-align:center;
  color:;
  font-size:50px;
  transition:0.3s;
  font-family:'Times New Roman', Times, serif
}
#brandname:hover
{
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 2px 0 #ccc,
                0 5px 0 #ccc, 0 4px 0 #ccc,
                0 7px 0 #ccc, 0 6px 0 #ccc,
                0 9px 0 #ccc, 0 8px 0 #ccc,
                0 11px 0 #ccc, 0 10px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
}
